*{
    margin: 0;
    padding: 0;
}
html{
    font-size: -moz-calc((100*100vw) / 750);
    font-size: -webkit-calc((100*100vw) / 750 );
    font-size: calc((100*100vw) / 750);  
}
body{
    font-size: 0.28rem;
}
a{
    text-decoration: none;
    color: #000;
}
/* 底部导航栏 */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .16rem 0;
    border-top: 1px solid #ccc;
    z-index: 99;
    background-color: #fff;
}
.footer a{
    color: #999;
}
.footer p{
    font-size: 0.25rem;
}
.footer i{
    font-size: 0.46rem;
}
.footer .active{
    color: #F56C02;
}
.content{
    padding-bottom: 60px;
    padding-top: 1.52rem;
}